* {
  overflow-x: hidden;
  padding: 0px !important;
  margin: 0px !important;
}
.v5_3 {
  width: 100%;
  height: 4725px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v32_619 {
  width: 100%;
  height: 4725px;
  background: url("../images/v32_619.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 120px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v25_76 {
  width: 100%;
  height: 800px;
  background: url("../images/v25_76.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v14_14 {
  width: 630px;
  height: 800px;
  background: url("../images/v14_14.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 522px;
  overflow: hidden;
}
.v6_18 {
  width: 370px;
  height: 800px;
  background: rgba(249,189,189,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 260px;
  border-bottom-left-radius: 100px;
}
.v14_26 {
  width: 382px;
  height: 382px;
  background: url("../images/Bigflower.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 400px;
  left: 0px;
  overflow: hidden;
}

.v10_0 {
  width: 568px;
  height: 577px;
  background: url("../images/v10_0.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 165px;
  left: 62px;
  overflow: hidden;
}
.v6_0 {
  width: 100%;
  height: 80px;
  background: url("../images/v6_0.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v6_1 {
  width: 100%;
  height: 80px;
  background: url("../images/v6_1.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v14_56 {
  width: 192px;
  height: 33px;
  background: url("../images/v14_56.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 23px;
  left: 80px;
  overflow: hidden;
}
.v6_2 {
  width: 154px;
  color: rgba(62,63,67,1);
  position: absolute;
  top: 0px;
  left: 38px;
  font-family: Nunito;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v14_51 {
  width: 30px;
  height: 30px;
  background: url("../images/LogoWoodies.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
  overflow: hidden;
}


.v6_3 {
  width: 737px;
  height: 40px;
  background: url("../images/v6_3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 48px;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 387px;
  overflow: hidden;
}
.v6_4 {
  width: 45px;
  color: rgba(218,165,32,1);
  position: absolute;
  top: 9px;
  left: 0px;
  font-family: Nunito;
  font-weight: ExtraBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v6_8 {
  width: 68px;
  color: rgba(34,34,34,0.75);
  position: absolute;
  top: 9px;
  left: 93px;
  font-family: Nunito;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v6_6 {
  width: 96px;
  color: rgba(34,34,34,0.75);
  position: absolute;
  top: 9px;
  left: 209px;
  font-family: Nunito;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v6_5 {
  width: 77px;
  color: rgba(34,34,34,0.75);
  position: absolute;
  top: 9px;
  left: 353px;
  font-family: Nunito;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v14_16 {
  width: 74px;
  color: rgba(34,34,34,0.75);
  position: absolute;
  top: 9px;
  left: 478px;
  font-family: Nunito;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v6_13 {
  width: 137px;
  height: 40px;
  background: url("../images/v6_13.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 600px;
  overflow: hidden;
}
.v6_14 {
  width: 135px;
  height: 38px;
  background: rgba(249,189,189,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(62,63,67,1);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v6_15 {
  width: 66px;
  color: rgba(62,63,67,1);
  position: absolute;
  top: 9px;
  left: 36px;
  font-family: Nunito;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v22_6 {
  width: 504px;
  height: 376px;
  background: url("../images/v22_6.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 217px;
  left: 102px;
  overflow: hidden;
}
.v14_0 {
  font-family: Nunito;
  width: 504px;
  color: rgba(62,63,67,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v16_0 {
  width: 504px;
  color: rgba(49,49,53,1);
  position: absolute;
  top: 114px;
  left: 0px;
  font-family: Nunito;
  font-weight: Bold;
  font-size: 72px;
  opacity: 1;
  text-align: left;
}
.v16_1 {
  width: 175px;
  height: 50px;
  background: url("../images/v16_1.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 326px;
  left: 0px;
  overflow: hidden;
}
.v16_2 {
  width: 175px;
  height: 50px;
  background: rgba(218,165,32,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v16_3 {
  width: 128px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 14px;
  left: 24px;
  font-family: Nunito;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v32_618 {
  width: 100%;
  height: 950px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 920px;
  left: 0px;
  overflow: hidden;
}
.v25_77 {
  width: 100%;
  height: 950px;
  background: url("../images/v25_77.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 68px;
  overflow: hidden;
}
.v14_64 {
  width: 100%;
  height: 558px;
  background: url("../images/v14_64.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 392px;
  left: 0px;
  overflow: hidden;
}
.v14_63 {
  width: 100%;
  height: 558px;
  background: url("../images/v14_63.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v14_62 {
  width: 382px;
  height: 382px;
  background: url("../images/v14_62.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v14_41 {
  width: 382px;
  height: 382px;
  background: url("../images/Bigflower.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.v13_0 {
  width: 287px;
  height: 384px;
  background: url("../images/v13_0.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 174px;
  left: 933px;
  overflow: hidden;
}
.v22_5 {
  width: 952px;
  height: 98px;
  background: url("../images/v22_5.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 168px;
  overflow: hidden;
}
.v16_4 {
  width: 205px;
  color: rgba(62,63,67,1);
  position: absolute;
  top: 24px;
  left: 38px;
  font-family: Nunito;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v16_10 {
  width: 30px;
  height: 30px;
  background: url("../images/LogoWoodies.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 34px;
  left: 0px;
  overflow: hidden;
}

.v14_58 {
  width: 379px;
  color: rgba(34,34,34,0.10000000149011612);
  position: absolute;
  top: 0px;
  left: 573px;
  font-family: Nunito;
  font-weight: ExtraBold;
  font-size: 72px;
  opacity: 1;
  text-align: right;
}
.name {
  color: #fff;
}
.v14_8 {
  width: 426px;
  height: 388px;
  background: url("../images/v14_8.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 138px;
  left: 168px;
  overflow: hidden;
}
.v13_2 {
  width: 278px;
  height: 388px;
  background: rgba(247,222,166,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-bottom-left-radius: 100px;
  border-top-right-radius: 100px;
}
.v13_3 {
  width: 388px;
  height: 306px;
  background: url("../images/v13_3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 82px;
  left: 38px;
  overflow: hidden;
}
.v23_10 {
  width: 648px;
  height: 131px;
  background: url("../images/v23_10.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 693px;
  left: 170px;
  overflow: hidden;
}
.v23_6 {
  width: 648px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 65px;
  left: 0px;
  font-family: Nunito;
  font-weight: SemiBold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v23_9 {
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 49px;
  width: 648px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 1;
  text-align: left;
}
.v23_8 {
  width: 448px;
  height: 180px;
  background: url("../images/v23_8.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 242px;
  left: 672px;
  overflow: hidden;
}
.v22_7 {
  width: 448px;
  color: rgba(62,63,67,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v23_7 {
  width: 448px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 114px;
  left: 0px;
  font-family: Nunito;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v25_75 {
  width: 952px;
  height: 453px;
  background: url("../images/v25_75.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1990px;
  left: 100px;
  overflow: hidden;
}
.v22_3 {
  width: 952px;
  height: 98px;
  background: url("../images/v22_3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v18_0 {
  width: 579px;
  color: rgba(34,34,34,0.10000000149011612);
  position: absolute;
  top: 0px;
  left: 373px;
  font-family: Nunito;
  font-weight: ExtraBold;
  font-size: 72px;
  opacity: 1;
  text-align: right;
}
.v18_1 {
  width: 254px;
  color: rgba(62,63,67,1);
  position: absolute;
  top: 25px;
  left: 38px;
  font-family: Nunito;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v18_2 {
  width: 30px;
  height: 30px;
  background: url("../images/LogoWoodies.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 34px;
  left: 0px;
  overflow: hidden;
}

.v18_6 {
  width: 12px;
  height: 14px;
  background: url("../images/v18_6.png");
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 1px;
  border: 1px solid rgba(137,121,66,0.5);
}
.name {
  color: #fff;
}
.v23_11 {
  width: 212px;
  height: 50px;
  background: url("../images/v23_11.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 403px;
  left: 370px;
  overflow: hidden;
}
.v23_12 {
  width: 212px;
  height: 50px;
  background: rgba(218,165,32,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v23_13 {
  width: 164px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 14px;
  left: 24px;
  font-family: Nunito;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v25_69 {
  width: 952px;
  height: 177px;
  background: url("../images/v25_69.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 162px;
  left: 0px;
  overflow: hidden;
}
.v25_65 {
  width: 238px;
  height: 177px;
  background: url("../images/v25_65.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v25_71 {
  width: 58px;
  color: rgba(249,189,189,0.25);
  position: absolute;
  top: 18px;
  left: 17px;
  font-family: Nunito;
  font-weight: SemiBold;
  font-size: 96px;
  opacity: 1;
  text-align: center;
}
.v23_1 {
  width: 238px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 144px;
  left: 0px;
  font-family: Nunito;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v24_148 {
  background: url("../images/shop\ 1.png");
  width: 120px;
  height: 120px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 59px;
  overflow: hidden;
}
.v24_149 {
  width: 120px;
  height: 96px;
  background: url("../images/v24_149.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 0px;
  overflow: hidden;
}
.v24_150 {
  width: 120px;
  height: 96px;
  background: url("../images/v24_150.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v25_66 {
  width: 238px;
  height: 177px;
  background: url("../images/v25_66.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 238px;
  overflow: hidden;
}
.v23_2 {
  width: 238px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 144px;
  left: 0px;
  font-family: Nunito;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v25_72 {
  width: 58px;
  color: rgba(249,189,189,0.25);
  position: absolute;
  top: 23px;
  left: 29px;
  font-family: Nunito;
  font-weight: SemiBold;
  font-size: 96px;
  opacity: 1;
  text-align: center;
}
.v25_45 {
  width: 120px;
  height: 120px;
  background: url("../images/ruler1.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 59px;
  overflow: hidden;
}
.v25_46 {
  width: 65px;
  height: 116px;
  background: rgba(247,222,166,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 27px;
}

.v25_49 {
  width: 11px;
  height: 11px;
  background: rgba(51,51,51,1);
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 7px;
}
.v25_67 {
  width: 238px;
  height: 177px;
  background: url("../images/v25_67.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 476px;
  overflow: hidden;
}
.v23_3 {
  width: 238px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 144px;
  left: 0px;
  font-family: Nunito;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v25_73 {
  width: 58px;
  color: rgba(249,189,189,0.25);
  position: absolute;
  top: 23px;
  left: 20px;
  font-family: Nunito;
  font-weight: SemiBold;
  font-size: 96px;
  opacity: 1;
  text-align: center;
}
.v25_0 {
  width: 120px;
  height: 120px;
  background: url("../images/")
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 59px;
  overflow: hidden;
}
.v25_1 {
  width: 87px;
  height: 42px;
  background: url("../images/v25_1.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 25px;
  left: 25px;
  overflow: hidden;
}
.v25_2 {
  width: 21px;
  height: 42px;
  background: rgba(168,219,235,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v25_3 {
  width: 42px;
  height: 19px;
  background: rgba(249,189,189,1);
  opacity: 1;
  position: absolute;
  top: 21px;
  left: 44px;
}
.v25_4 {
  width: 30px;
  height: 7px;
  background: rgba(247,222,166,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 48px;
}
.v25_5 {
  width: 120px;
  height: 120px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v25_6 {
  width: 11px;
  height: 11px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 100px;
  left: 100px;
}
.v25_7 {
  width: 11px;
  height: 11px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 100px;
  left: 85px;
}
.v25_8 {
  width: 11px;
  height: 11px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 100px;
  left: 69px;
}
.v25_9 {
  width: 11px;
  height: 11px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 85px;
  left: 100px;
}
.v25_10 {
  width: 11px;
  height: 11px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 85px;
  left: 85px;
}
.v25_11 {
  width: 11px;
  height: 11px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 85px;
  left: 69px;
}
.v25_12 {
  width: 11px;
  height: 11px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 69px;
  left: 100px;
}
.v25_13 {
  width: 11px;
  height: 11px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 69px;
  left: 85px;
}
.v25_14 {
  width: 11px;
  height: 11px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 69px;
  left: 69px;
}
.v25_15 {
  width: 30px;
  height: 3px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 23px;
  left: 73px;
}
.v25_16 {
  width: 30px;
  height: 3px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 73px;
}
.v25_17 {
  width: 34px;
  height: 3px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 58px;
  left: 73px;
}
.v25_68 {
  width: 238px;
  height: 177px;
  background: url("../images/v25_68.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 714px;
  overflow: hidden;
}
.v23_4 {
  width: 238px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 144px;
  left: 0px;
  font-family: Nunito;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v25_74 {
  width: 58px;
  color: rgba(249,189,189,0.25);
  position: absolute;
  top: 22px;
  left: 20px;
  font-family: Nunito;
  font-weight: SemiBold;
  font-size: 96px;
  opacity: 1;
  text-align: center;
}
.v25_18 {
  width: 120px;
  height: 120px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 59px;
  overflow: hidden;
}
.v25_19 {
  width: 96px;
  height: 116px;
  background: url("../images/v25_19.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 11px;
  overflow: hidden;
}
.v25_20 {
  width: 52px;
  height: 31px;
  background: rgba(168,219,235,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 44px;
}
.v25_21 {
  width: 19px;
  height: 116px;
  background: rgba(247,222,166,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v25_22 {
  width: 100px;
  height: 120px;
  background: url("../images/v25_22.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 9px;
  overflow: hidden;
}
.v25_23 {
  width: 81px;
  height: 120px;
  background: rgba(51,51,51,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 19px;
}
.v25_24 {
  width: 27px;
  height: 120px;
  background: rgba(51,51,51,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v25_25 {
  width: 3px;
  height: 3px;
  background: rgba(51,51,51,1);
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 56px;
}
.v25_26 {
  width: 3px;
  height: 15px;
  background: rgba(51,51,51,1);
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 7px;
}
.v25_27 {
  width: 3px;
  height: 3px;
  background: rgba(51,51,51,1);
  opacity: 1;
  position: absolute;
  top: 27px;
  left: 7px;
}
.v25_28 {
  width: 3px;
  height: 15px;
  background: rgba(51,51,51,1);
  opacity: 1;
  position: absolute;
  top: 65px;
  left: 11px;
}
.v25_29 {
  width: 3px;
  height: 11px;
  background: rgba(51,51,51,1);
  opacity: 1;
  position: absolute;
  top: 100px;
  left: 7px;
}
.v23_0 {
  width: 952px;
  height: 978px;
  background: url("../images/v23_0.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2563px;
  left: 100px;
  overflow: hidden;
}
.v14_61 {
  width: 952px;
  height: 840px;
  background: url("../images/v14_61.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 138px;
  left: 0px;
  overflow: hidden;
}
.v14_7 {
  width: 952px;
  height: 400px;
  background: url("../images/v14_7.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 56px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v14_5 {
  width: 280px;
  height: 400px;
  background: url("../images/v14_5.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v14_2 {
  width: 280px;
  height: 400px;
  background: rgba(249,189,189,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-bottom-left-radius: 100px;
  border-top-right-radius: 100px;
}
.v30_10 {
  width: 123px;
  height: 40px;
  background: url("../images/v30_10.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 336px;
  left: 141px;
  overflow: hidden;
}
.v30_11 {
  width: 120px;
  height: 35px;
  background: rgba(249,189,189,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(62,63,67,1);
}
.v30_12 {
  width: 86px;
  color: rgba(62,63,67,1);
  position: absolute;
  top: 8px;
  left: 19px;
  font-family: Nunito;
  font-weight: SemiBold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v14_18 {
  width: 57px;
  color: rgba(62,63,67,1);
  position: absolute;
  top: 24px;
  left: 16px;
  font-family: Nunito;
  font-weight: ExtraBold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v12_2 {
  width: 246px;
  height: 224px;
  background: url("../images/v12_2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 88px;
  left: 0px;
  overflow: hidden;
}
.v14_4 {
  width: 280px;
  height: 400px;
  background: url("../images/v14_4.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 336px;
  overflow: hidden;
}
.v14_3 {
  width: 280px;
  height: 400px;
  background: rgba(247,222,166,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-bottom-left-radius: 100px;
  border-top-right-radius: 100px;
}
.v30_7 {
  width: 123px;
  height: 40px;
  background: url("../images/v30_7.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 336px;
  left: 141px;
  overflow: hidden;
}
.v30_8 {
  width: 120px;
  height: 35px;
  background: rgba(247,222,166,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(62,63,67,1);
}
.v30_9 {
  width: 86px;
  color: rgba(62,63,67,1);
  position: absolute;
  top: 8px;
  left: 19px;
  font-family: Nunito;
  font-weight: SemiBold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v14_19 {
  width: 60px;
  color: rgba(62,63,67,1);
  position: absolute;
  top: 24px;
  left: 16px;
  font-family: Nunito;
  font-weight: ExtraBold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v12_3 {
  width: 165px;
  height: 235px;
  background: url("../images/v12_3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 83px;
  left: 57px;
  overflow: hidden;
}
.v14_6 {
  width: 280px;
  height: 400px;
  background: url("../images/v14_6.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 672px;
  overflow: hidden;
}
.v14_1 {
  width: 280px;
  height: 400px;
  background: rgba(168,219,235,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-bottom-left-radius: 100px;
  border-top-right-radius: 100px;
}
.v14_20 {
  width: 142px;
  color: rgba(62,63,67,1);
  position: absolute;
  top: 24px;
  left: 16px;
  font-family: Nunito;
  font-weight: ExtraBold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v30_6 {
  width: 123px;
  height: 40px;
  background: url("../images/v30_6.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 336px;
  left: 141px;
  overflow: hidden;
}
.v30_5 {
  width: 120px;
  height: 35px;
  background: rgba(168,219,235,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(62,63,67,1);
}
.v30_3 {
  width: 86px;
  color: rgba(62,63,67,1);
  position: absolute;
  top: 8px;
  left: 19px;
  font-family: Nunito;
  font-weight: SemiBold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v13_1 {
  width: 181px;
  height: 200px;
  background: url("../images/v13_1.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 100px;
  left: 49px;
  overflow: hidden;
}
.v16_30 {
  width: 616px;
  height: 400px;
  background: url("../images/v16_30.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 56px;
  opacity: 1;
  position: absolute;
  top: 440px;
  left: 2px;
  overflow: hidden;
}
.v16_31 {
  width: 280px;
  height: 400px;
  background: url("../images/v16_31.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v16_32 {
  width: 280px;
  height: 400px;
  background: rgba(249,189,189,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-bottom-left-radius: 100px;
  border-top-right-radius: 100px;
}
.v30_22 {
  width: 248px;
  height: 352px;
  background: url("../images/v30_22.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 16px;
  overflow: hidden;
}
.v30_16 {
  width: 123px;
  height: 40px;
  background: url("../images/v30_16.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 312px;
  left: 125px;
  overflow: hidden;
}
.v30_17 {
  width: 120px;
  height: 35px;
  background: rgba(249,189,189,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(62,63,67,1);
}
.v30_18 {
  width: 86px;
  color: rgba(62,63,67,1);
  position: absolute;
  top: 8px;
  left: 19px;
  font-family: Nunito;
  font-weight: SemiBold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v16_33 {
  width: 123px;
  color: rgba(62,63,67,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Nunito;
  font-weight: ExtraBold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v18_9 {
  width: 148px;
  height: 235px;
  background: url("../images/v18_9.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 55px;
  left: 50px;
  overflow: hidden;
}
.v16_35 {
  width: 280px;
  height: 400px;
  background: url("../images/v16_35.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 336px;
  overflow: hidden;
}
.v16_36 {
  width: 280px;
  height: 400px;
  background: rgba(247,222,166,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-bottom-left-radius: 100px;
  border-top-right-radius: 100px;
}
.v30_19 {
  width: 123px;
  height: 40px;
  background: url("../images/v30_19.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 336px;
  left: 141px;
  overflow: hidden;
}
.v30_20 {
  width: 120px;
  height: 35px;
  background: rgba(247,222,166,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(62,63,67,1);
}
.v30_21 {
  width: 86px;
  color: rgba(62,63,67,1);
  position: absolute;
  top: 8px;
  left: 19px;
  font-family: Nunito;
  font-weight: SemiBold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v16_37 {
  width: 123px;
  color: rgba(62,63,67,1);
  position: absolute;
  top: 24px;
  left: 40px;
  font-family: Nunito;
  font-weight: ExtraBold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v21_4 {
  width: 235px;
  height: 139px;
  background: url("../images/v21_4.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 130px;
  left: 23px;
  overflow: hidden;
}
.v22_4 {
  width: 952px;
  height: 98px;
  background: url("../images/v22_4.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v14_57 {
  width: 454px;
  color: rgba(34,34,34,0.10000000149011612);
  position: absolute;
  top: 0px;
  left: 498px;
  font-family: Nunito;
  font-weight: ExtraBold;
  font-size: 72px;
  opacity: 1;
  text-align: right;
}
.v16_16 {
  width: 242px;
  color: rgba(62,63,67,1);
  position: absolute;
  top: 25px;
  left: 38px;
  font-family: Nunito;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v16_17 {
  width: 30px;
  height: 30px;
  background: url("../images/LogoWoodies.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 34px;
  left: 0px;
  overflow: hidden;
}

.name {
  position: absolute;
  width: 316px;
  height: 0px;
  left: 240px;
  top: 49px;
  border: 1px solid #000000;
}
.v32_21 {
  width: 952px;
  height: 489px;
  background: url("../images/v32_21.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3661px;
  left: 100px;
  overflow: hidden;
}
.v22_2 {
  width: 952px;
  height: 98px;
  background: url("../images/v22_2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v14_59 {
  width: 416px;
  color: rgba(34,34,34,0.10000000149011612);
  position: absolute;
  top: 0px;
  left: 536px;
  font-family: Nunito;
  font-weight: ExtraBold;
  font-size: 72px;
  opacity: 1;
  text-align: right;
}
.v16_23 {
  width: 242px;
  color: rgba(62,63,67,1);
  position: absolute;
  top: 24px;
  left: 38px;
  font-family: Nunito;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v16_24 {
  width: 30px;
  height: 30px;
  background: url("../images/LogoWoodies.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 34px;
  left: 0px;
  overflow: hidden;
}

.name {
  color: #fff;
}
.v32_18 {
  width: 952px;
  height: 351px;
  background: url("../images/v32_18.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 138px;
  left: 0px;
  overflow: hidden;
}
.v14_60 {
  width: 952px;
  height: 320px;
  background: url("../images/v14_60.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v14_25 {
  width: 952px;
  height: 320px;
  background: url("../images/v14_25.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v30_24 {
  width: 384px;
  height: 280px;
  background: url("../images/v30_24.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 568px;
  overflow: hidden;
}
.v30_108 {
  width: 384px;
  height: 280px;
  background: url("../images/v30_108.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v14_21 {
  width: 384px;
  height: 280px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(168,219,235,1);
}
.v30_92 {
  width: 352px;
  height: 172px;
  background: url("../images/v30_92.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 54px;
  left: 16px;
  overflow: hidden;
}
.v30_86 {
  width: 136px;
  height: 24px;
  background: url("../images/v30_86.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name2 {
  color: #fff;
}
.name3 {
  color: #fff;
}
.name4 {
  color: #fff;
}
.name5 {
  color: #fff;
}
.name6 {
  color: #fff;
}
.v30_25 {
  width: 352px;
  color: rgba(62,63,67,1);
  position: absolute;
  top: 40px;
  left: 0px;
  font-family: Nunito;
  font-weight: SemiBold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v30_94 {
  width: 199px;
  height: 40px;
  background: url("../images/v30_94.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 132px;
  left: 0px;
  overflow: hidden;
}
.v30_93 {
  width: 151px;
  color: rgba(175,175,175,1);
  position: absolute;
  top: 4px;
  left: 48px;
  font-family: Nunito;
  font-weight: SemiBold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v30_72 {
  width: 40px;
  height: 40px;
  background: url("../images/v30_72.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15000000596046448);
  overflow: hidden;
}
.v30_73 {
  width: 40px;
  height: 40px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v30_74 {
  width: 59px;
  height: 40px;
  background: url("../images/v30_74.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 13px;
  overflow: hidden;
}
.v30_102 {
  width: 71px;
  height: 19px;
  background: url("../images/v30_102.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 301px;
  left: 881px;
  overflow: hidden;
}
.v30_103 {
  width: 32px;
  background: url("../images/v30_103.png");
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 39px;
  border: 1px solid rgba(0,0,0,1);
}
.v30_104 {
  width: 31px;
  color: rgba(62,63,67,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Nunito;
  font-weight: SemiBold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v30_105 {
  width: 95px;
  height: 19px;
  background: url("../images/v30_105.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 301px;
  left: 568px;
  overflow: hidden;
}
.v30_106 {
  width: 32px;
  background: url("../images/v30_106.png");
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 32px;
  border: 1px solid rgba(196,196,196,1);
  transform: rotate(-179deg);
}
.v30_107 {
  width: 55px;
  color: rgba(196,196,196,1);
  position: absolute;
  top: 0px;
  left: 40px;
  font-family: Nunito;
  font-weight: SemiBold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v32_20 {
  width: 240px;
  height: 320px;
  background: url("../images/v32_20.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 280px;
  overflow: hidden;
}
.v14_23 {
  width: 240px;
  height: 320px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15000000596046448);
}
.v30_62 {
  width: 240px;
  height: 320px;
  background: url("../images/v30_62.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v30_63 {
  width: 240px;
  height: 320px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15000000596046448);
}
.v30_64 {
  width: 240px;
  height: 359px;
  background: url("../images/v30_64.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 40px;
  left: 0px;
  overflow: hidden;
  border-bottom-left-radius: 100px;
  border-top-right-radius: 100px;
}
.v32_19 {
  width: 240px;
  height: 320px;
  background: url("../images/v32_19.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v14_24 {
  width: 240px;
  height: 320px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15000000596046448);
}
.v30_56 {
  width: 240px;
  height: 320px;
  background: url("../images/v30_56.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v30_57 {
  width: 240px;
  height: 320px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15000000596046448);
}
.v30_58 {
  width: 661px;
  height: 441px;
  background: url("../images/v30_58.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 121px;
  left: 90px;
  overflow: hidden;
  border-bottom-left-radius: 100px;
  border-top-right-radius: 100px;
}
.v30_79 {
  width: 184px;
  height: 8px;
  background: url("../images/v30_79.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 343px;
  left: 768px;
  overflow: hidden;
}
.v30_76 {
  width: 40px;
  height: 8px;
  background: rgba(218,165,32,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v30_75 {
  width: 40px;
  height: 8px;
  background: rgba(229,229,229,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 48px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v30_77 {
  width: 40px;
  height: 8px;
  background: rgba(229,229,229,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 96px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v30_78 {
  width: 40px;
  height: 8px;
  background: rgba(229,229,229,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 144px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v32_17 {
  width: 100%;
  height: 455px;
  background: url("../images/v32_17.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4270px;
  left: 0px;
  overflow: hidden;
}
.v32_16 {
  width: 100%;
  height: 455px;
  background: url("../images/v32_16.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v14_15 {
  width: 100%;
  height: 455px;
  background: url("../images/v14_15.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v14_12 {
  width: 100%;
  height: 455px;
  background: url("../images/v14_12.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v14_10 {
  width: 508px;
  height: 455px;
  background: url("../images/v14_10.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 644px;
  overflow: hidden;
}
.v30_36 {
  width: 644px;
  height: 455px;
  background: url("../images/v30_36.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 644px;
  overflow: hidden;
}
.v30_118 {
  width: 104px;
  color: rgba(141,141,141,1);
  position: absolute;
  top: 415px;
  left: 524px;
  font-family: Nunito;
  font-weight: SemiBold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v30_110 {
  width: 709px;
  height: 138px;
  background: url("../images/v30_110.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 52px;
  opacity: 1;
  position: absolute;
  top: 232px;
  left: 107px;
  overflow: hidden;
}
.v30_31 {
  width: 192px;
  height: 138px;
  background: url("../images/v30_31.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v30_111 {
  width: 192px;
  height: 33px;
  background: url("../images/v30_111.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v30_112 {
  width: 154px;
  color: rgba(62,63,67,1);
  position: absolute;
  top: 0px;
  left: 38px;
  font-family: Nunito;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v30_113 {
  width: 30px;
  height: 30px;
  background: url("../images/LogoWoodies.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
  overflow: hidden;
}

.v30_33 {
  width: 97px;
  color: rgba(141,141,141,1);
  position: absolute;
  top: 49px;
  left: 0px;
  font-family: Nunito;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v30_34 {
  width: 130px;
  color: rgba(141,141,141,1);
  position: absolute;
  top: 84px;
  left: 0px;
  font-family: Nunito;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v30_35 {
  width: 112px;
  color: rgba(141,141,141,1);
  position: absolute;
  top: 119px;
  left: 0px;
  font-family: Nunito;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v30_37 {
  width: 65px;
  height: 130px;
  background: url("../images/v30_37.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 244px;
  overflow: hidden;
}
.v30_38 {
  width: 65px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Nunito;
  font-weight: SemiBold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v30_39 {
  width: 64px;
  color: rgba(141,141,141,1);
  position: absolute;
  top: 41px;
  left: 0px;
  font-family: Nunito;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v30_40 {
  width: 60px;
  color: rgba(141,141,141,1);
  position: absolute;
  top: 76px;
  left: 0px;
  font-family: Nunito;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v30_41 {
  width: 53px;
  color: rgba(141,141,141,1);
  position: absolute;
  top: 111px;
  left: 0px;
  font-family: Nunito;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v32_10 {
  width: 85px;
  height: 130px;
  background: url("../images/v32_10.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 361px;
  overflow: hidden;
}
.v32_11 {
  width: 85px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Nunito;
  font-weight: SemiBold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v32_12 {
  width: 29px;
  color: rgba(141,141,141,1);
  position: absolute;
  top: 41px;
  left: 0px;
  font-family: Nunito;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v32_13 {
  width: 35px;
  color: rgba(141,141,141,1);
  position: absolute;
  top: 76px;
  left: 0px;
  font-family: Nunito;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v32_14 {
  width: 70px;
  color: rgba(141,141,141,1);
  position: absolute;
  top: 111px;
  left: 0px;
  font-family: Nunito;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v30_42 {
  width: 78px;
  height: 130px;
  background: url("../images/v30_42.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 498px;
  overflow: hidden;
}
.v30_43 {
  width: 78px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Nunito;
  font-weight: SemiBold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v30_44 {
  width: 60px;
  color: rgba(141,141,141,1);
  position: absolute;
  top: 41px;
  left: 0px;
  font-family: Nunito;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v30_45 {
  width: 28px;
  color: rgba(141,141,141,1);
  position: absolute;
  top: 76px;
  left: 0px;
  font-family: Nunito;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v30_46 {
  width: 62px;
  color: rgba(141,141,141,1);
  position: absolute;
  top: 111px;
  left: 0px;
  font-family: Nunito;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v30_47 {
  width: 81px;
  height: 130px;
  background: url("../images/v30_47.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 628px;
  overflow: hidden;
}
.v30_48 {
  width: 81px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Nunito;
  font-weight: SemiBold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v30_49 {
  width: 60px;
  color: rgba(141,141,141,1);
  position: absolute;
  top: 41px;
  left: 0px;
  font-family: Nunito;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v30_50 {
  width: 63px;
  color: rgba(141,141,141,1);
  position: absolute;
  top: 76px;
  left: 0px;
  font-family: Nunito;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v30_51 {
  width: 45px;
  color: rgba(141,141,141,1);
  position: absolute;
  top: 111px;
  left: 0px;
  font-family: Nunito;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v32_15 {
  width: 100%;
  height: 174px;
  background: url("../images/v32_15.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v14_13 {
  width: 100%;
  height: 174px;
  background: linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0));
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v32_4 {
  width: 493px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 53px;
  left: 107px;
  opacity: 1;
  text-align: left;
}
.v32_9 {
  width: 448px;
  height: 40px;
  background: url("../images/v32_9.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 67px;
  left: 600px;
  overflow: hidden;
}
.v32_5 {
  width: 355px;
  height: 40px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(218,165,32,1);
}
.v32_8 {
  width: 135px;
  color: rgba(175,175,175,1);
  position: absolute;
  top: 9px;
  left: 16px;
  font-family: Nunito;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v32_6 {
  width: 120px;
  height: 40px;
  background: rgba(218,165,32,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 448px;
}
.v32_7 {
  width: 72px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 9px;
  left: 352px;
  font-family: Nunito;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
