body{
    margin: 0;
    font-family: Nunito;
}

#page-bg{
    width: 370px;
    height: 800px;
    background-color: #F9BDBD;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    border-bottom-left-radius: 100px;
}

#flower-bg{
    position: absolute;
    top: 200px;
    right: 200px;
    z-index: -1;
}

.p1{
    position: absolute;
    width: 504px;
    height: 98px;
    left: 102px;
    top: 217px;
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 49px;
}

.h1{
    position: absolute;
    width: 504px;
    height: 196px;
    left: 102px;
    top: 331px;
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 98px;
}
header{
    height: 50px;
    width: 1152px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 250px auto;
    position: relative;
}

header nav{

}

header nav ul{
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

header nav ul li{
    text-align: center;
}

header nav ul li a{
    text-decoration: none;
    color: rgba(34, 34, 34, 0.75);
    font-size: 16px;
}

header nav ul li a.active{
    color: #DAA520;
    font-weight: bold;
}

#sign-up-button{
    border: 1px solid #3E3F43;
    border-radius: 8px;
    padding: 5px 25px;
    text-transform: uppercase;
    font-weight: bold;
}

section, header{
    /* border: 1px solid red; */
}

section{
    width: 1152px;
    margin: 0 auto;
}

section header{
    display: grid;
    grid-template-columns: 30px 205px 316px auto;
    column-gap: 5px;
    height: 80px;
}

section#home{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
}

section#about{
    border: 1px solid red;
}

section#how-it-work{
    border: 1px solid red;
}

section#categories{
    border: 1px solid red;
}

section#testimony{
    border: 1px solid red;
}
section#low{
    border: 1px solid red;
}
footer{
    border: 1px solid red;
    height: 200px;
    width: 1152px;
    margin: 0 auto;
}

div.divider{
    border-bottom: 2px solid grey;
} 